{% extends 'base.html' %} {% block title %} Add Medication {% endblock %} {%
block content %}
<h1 class="display-1">Add Medication</h1>

<form method="POST">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden' %}
  <p>
    {{ field.label }} {{ field }} {% for error in field.errors %}
    <span class="form-text text-danger">{{ error }}</span>
    {% endfor %}
  </p>
  {% endfor %}

  <button class="btn btn-info btn-sm" type="submit">add</button>
</form>
{% endblock %}
