{% extends 'base.html' %} {% block title %} Add Medication {% endblock %} {%
block content %}

<form class="form-group"  method="POST">
  <div class="form-group">
    <h1 class=" text-center">Add Medication</h1>

    {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden' %}
    <p class="form-group">
      {{ field.label }} {{ field(class="form-control") }} {% for error in field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p class="form-group">
    {% endfor %}

    <button class="btn btn-info btn-sm" type="submit">add</button>
  </div>
</form>
{% endblock %}
