{% extends 'base.html' %} {% block content %}

<h1 class="display-1">Edit Medication</h1>
<form method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.medication_name.label }}: {{
    form.medication_name(class="form-control", placeholder="Medication Name") }}
  </div>

  <div class="form-group">
    {{ form.start_date.label }}: {{ form.start_date(class="form-control") }}
  </div>

  <div class="form-group">
    {{ form.start_time.label }}: {{ form.start_time(class="form-control") }}
  </div>

  <div class="form-group">
    {{ form.next_dose_date.label }}: {{
    form.next_dose_date(class="form-control") }}
  </div>

  <div class="form-group">
    {{ form.next_dose_time.label }}: {{
    form.next_dose_time(class="form-control") }}
  </div>

  <div class="form-group">
    {{ form.notes.label }}: {{ form.notes(class="form-control",
    placeholder="Notes") }}
  </div>

  <button type="submit" class="btn btn-info btn-sm">Save Changes</button>
</form>
{% endblock %}
