{% extends 'base.html' %}{% block title %} Reminder App {% endblock %} {% block
content %}

<form class="container form-group text-center" method="POST">
  <div class="form-group">
    <main role="main" class="inner cover">
      <h1 class="cover-heading text-center">Medication Reminder</h1>
      <p class="form-group lead">
        Medication Reminder is here to help remind you when to take your
        medication. Life is busy enough - set reminders to help take your
        medication.
      </p>
      <a href="/medication_list" class="btn btn-lg btn-secondary"
        >Lets Get Started!</a
      >
    </main>
  </div>
</form>
{% endblock %}
