{% extends 'base.html' %} {% block content %}

<h1 class="text-center">Medication List</h1>
<div class="jumbotron">
  
  <table class="table table-striped">
    <thead class="thread-dark"></thead>
    <tbody>
      {% for medication in medications %}
      <tr>
        <td>
          <a aria-label="close" href="/medication/{{medication.id}}"
            >{{ medication.medication_name }}</a
          >
        </td>
        <td></td>
        <td></td>
        {% else %}
        <td>No Medications Added Yet!</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<a class="btn btn-info btn-sm" href="/search">Add a New Medication</a>

{% endblock %}
